# Create some Fake Data

This can be used to run some validations about the logic before getting real customer data

In [100]:
import pandas as pd
import numpy as np
import json
from datetime import datetime, timedelta
#from faker import Faker

In [101]:
%store -r email
%store -r login

In [102]:
print(login)

[datetime.date(2023, 6, 12), datetime.date(2023, 2, 2), datetime.date(2023, 1, 12), datetime.date(2023, 4, 4), datetime.date(2023, 4, 21), datetime.date(2023, 8, 28), datetime.date(2023, 6, 23), datetime.date(2021, 12, 1), datetime.date(2023, 8, 24), datetime.date(2023, 4, 17), datetime.date(2023, 7, 10), datetime.date(2023, 5, 30), datetime.date(2023, 3, 10), datetime.date(2023, 8, 28), datetime.date(2023, 8, 25), datetime.date(2023, 8, 25), datetime.date(2023, 2, 17), datetime.date(2023, 8, 22), datetime.date(2023, 7, 2), datetime.date(2023, 8, 18), datetime.date(2023, 2, 6), datetime.date(2023, 1, 25), datetime.date(2023, 8, 20), datetime.date(2023, 8, 21), datetime.date(2023, 1, 24), datetime.date(2023, 8, 24), datetime.date(2023, 4, 5), datetime.date(2023, 8, 13), datetime.date(2023, 3, 15), datetime.date(2023, 2, 10), datetime.date(2022, 11, 1), datetime.date(2023, 8, 17), datetime.date(2023, 5, 31), datetime.date(2023, 3, 9), datetime.date(2023, 5, 9), datetime.date(2023, 8, 18), datetime.date(2023, 8, 10), datetime.date(2023, 6, 14), datetime.date(2023, 8, 9), datetime.date(2023, 8, 23), datetime.date(2023, 4, 4), datetime.date(2023, 5, 4), datetime.date(2023, 3, 29), datetime.date(2023, 7, 10), datetime.date(2023, 1, 6), datetime.date(2023, 5, 31), datetime.date(2023, 1, 6), datetime.date(2023, 8, 21), datetime.date(2023, 4, 27), datetime.date(2023, 1, 25), datetime.date(2023, 4, 11), datetime.date(2023, 3, 14), datetime.date(2023, 6, 7), datetime.date(2023, 7, 31), datetime.date(2023, 8, 7), datetime.date(2023, 2, 10), datetime.date(2023, 8, 25), datetime.date(2023, 2, 21), datetime.date(2023, 3, 17), datetime.date(2023, 6, 12), datetime.date(2023, 3, 13), datetime.date(2023, 5, 23), datetime.date(2023, 6, 3), datetime.date(2023, 6, 23), datetime.date(2023, 5, 22), datetime.date(2023, 6, 22), datetime.date(2023, 6, 6), datetime.date(2023, 4, 24), datetime.date(2023, 4, 20), datetime.date(2023, 5, 5), datetime.date(2023, 5, 17), datetime.date(2023, 5, 12), datetime.date(2023, 5, 13), datetime.date(2023, 6, 8), datetime.date(2023, 5, 16), datetime.date(2023, 8, 22), datetime.date(2023, 8, 2), datetime.date(2023, 8, 1), datetime.date(2023, 6, 28), datetime.date(2023, 6, 26), datetime.date(2023, 7, 3), datetime.date(2023, 7, 28), datetime.date(2023, 7, 4), datetime.date(2023, 8, 21), datetime.date(2023, 8, 25), datetime.date(2023, 4, 6), datetime.date(2023, 8, 11), datetime.date(2023, 8, 25), datetime.date(2023, 5, 4), datetime.date(2022, 5, 16)]

In [103]:
print(email)

['abishek.kunduru@anblicks.com', 'bharath.rudra@anblicks.com', 'mounika.koduru@anblicks.com', 'sireesha.alavala@anblicks.com', 'manasa.jonnadula@anblicks.com', 'it@anblicks.com', 'geetanjali.dash@anblicks.com', 'nikunj.ranpura@anblicks.com', 'abhilash.p@anblicks.com', 'abhishek.makhija@anblicks.com', 'lalitha.nasina@anblicks.com', 'deepika.mudiyala@anblicks.com', 'surender.thanneeru@anblicks.com', 'shravani.bathula@anblicks.com', 'saeeda.rushnaiwala@anblicks.com', 'saisrinivas.chinta@anblicks.com', 'dhaval.raval@anblicks.com', 'aashutosh.makwana@anblicks.com', 'devang.patel@anblicks.com', 'gaurav.patel@anblicks.com', 'chintan.mehta@anblicks.com', 'vijay.makwana@anblicks.com', 'samir.bhatt@anblicks.com', 'pranshu.joshi@anblicks.com', 'kotapati.saitha@anblicks.com', 'pavani.pasupulati@anblicks.com', 'rehman.shaik@anblicks.com', 'rasi.konatham@anblicks.com', 'srisai.maddukuri@anblicks.com', 'manoj.kumar@anblicks.com', 'vinay.gundavaram@anblicks.com', 'akhila.madduri@anblicks.com', 'raj.sindal@anblicks.com', 'harsh.patel@anblicks.com', 'purvesh.kachhiya@anblicks.com', 'prapti.patel@anblicks.com', 'naresh.chillur@anblicks.com', 'mitesh.gajjar@anblicks.com', 'krunal.rami@anblicks.com', 'sagar.katariya@anblicks.com', 'durgavikesh.pulapa@anblicks.com', 'sajja.ratnasravya@anblicks.com', 'saisyam.dampuri@anblicks.com', 'rushika.shah@anblicks.com', 'hardik.sanghani@anblicks.com', 'munwar@anblicks.com', 'saikiran.p@anblicks.com', 'rithesh.gummerla@anblicks.com', 'nagaarvind.adari@anblicks.com', 'Kenneth.Harper@DATALINKSOFTWARE.COM', 'Logan.Galler@datalinksoftware.com', 'John.Hargett@datalinksoftware.com', 'Vinay.Beeravolu@datalinksoftware.com', 'abhinav.chelluri@anblicks.com', 'dhamodharan.balamani@anblicks.com', 'bansilal.keloth@anblicks.com', 'tejaswini.kolla@anblicks.com', 'manohar.gajengi@anblicks.com', 'ankit.patel@anblicks.com', 'gowtham.voruganti@anblicks.com', 'sravan.m@anblicks.com', 'sudharani.b@anblicks.com', 'deepthi.rayapati@anblicks.com', 'vasanth.kandagatla@anblicks.com', 'ganeshcharan.p@anblicks.com', 'harsha.nadendla@anblicks.com', 'haribabu.thamatam@anblicks.com', 'rahul.ojha@anblicks.com', 'rajasekharreddy.g@anblicks.com', 'nilesh.jain@anblicks.com', 'ramesh.talamala@anblicks.com', 'lokeshwar.chankapure@anblicks.com', 'shiva.nallavelli@anblicks.com', 'lance.lugo@datalinksoftware.com', 'santosh.yadav@anblicks.com', 'ronak.padhya@anblicks.com', 'nitya.sripati@anblicks.com', 'madhumitha.kuna@anblicks.com', 'akhila.siripurapu@anblicks.com', 'vishvak.tatineni@anblicks.com', 'vijay.diwakar@anblicks.com', 'pavan.muniganti@anblicks.com', 'nishant.shah@anblicks.com', 'jaimin.patel@anblicks.com', 'raja.seeni@anblicks.com', 'sandeep.nidumukkala@anblicks.com', 'divya.matsa@anblicks.com', 'praveenkumar.macha@anblicks.com', 'uhapriya.akunuri@anblicks.com', 'kiran.kumar@anblicks.com']

In [104]:
len(email)

90

In [105]:
user_email=[]

for i in email:
    user_email.append(i)
df_empl = pd.DataFrame(user_email, columns = ['session_user'])

In [106]:
df_empl

                        session_user
0       abishek.kunduru@anblicks.com
1         bharath.rudra@anblicks.com
2        mounika.koduru@anblicks.com
3      sireesha.alavala@anblicks.com
4      manasa.jonnadula@anblicks.com
..                               ...
85  sandeep.nidumukkala@anblicks.com
86          divya.matsa@anblicks.com
87   praveenkumar.macha@anblicks.com
88     uhapriya.akunuri@anblicks.com
89          kiran.kumar@anblicks.com

[90 rows x 1 columns]

In [107]:
# def generate_app_logs (n_users, n_days_ago, random_state):

#     np.random.seed(random_state)
#     #fake = Faker()
#     #Faker.seed(faker_state)
#     today = pd.Timestamp(datetime.now().date())

#     employee_list = []
#     app_list = []

#     for user in range(1, n_users):
#         for i in user_email:
        
#             has_leaved_company = np.random.uniform (0,100)
#             if (has_leaved_company < 5): #Generate 5% people leaving the company 
#                 last_day_work_days = np.random.uniform (0, n_days_ago)
#                 field_last_work_day = today - timedelta (days = day)
#             else:
#                 last_day_work_days = 0
#                 field_last_work_day = today + timedelta (days = 365) # set to the future for now
            
#             n_logings = int(np.random.uniform (0, n_days_ago - last_day_work_days))  # Between never logging and every day
            
#             for l in range (0, n_logings):
#                 day = np.random.uniform(0, n_days_ago) # get a ramdom day
                
#                 ## Let´s introduce some users who do not log in thet last 30 days
#                 not_loggin = np.random.uniform (0,100)
#                 if (not_loggin < 25):
#                     login_day = today - timedelta (days = day + last_day_work_days + 50)
#                 else:
#                     login_day = today - timedelta (days = day + last_day_work_days)
#                 app_list.append([user_email, login_day])
                
#             employee_list.append([i,field_last_work_day])
        
#     df_employes = pd.DataFrame(employee_list, columns = ['session_user', 'last_day_of_work'])
#     df_apps = pd.DataFrame(app_list, columns = ['session_user', 'snapshot_datetime'])
    
#     return df_employes, df_apps

In [108]:
# def generate_app_logs (n_users, n_days_ago,random_state):

#     np.random.seed(random_state)
#     #fake = Faker()
#     #Faker.seed(faker_state)
#     today = pd.Timestamp(datetime.now().date())

#     employee_list = []
#     app_list = []

#     for user in range(1, n_users):
#         for i in user_email:
        
#             has_leaved_company = np.random.uniform (0,100)
#             if (has_leaved_company < 5): #Generate 5% people leaving the company 
#                 last_day_work_days = np.random.uniform (0, n_days_ago)
#                 field_last_work_day = today - timedelta (days = day)
#             else:
#                 last_day_work_days = 0
#                 field_last_work_day = today + timedelta (days = 365) # set to the future for now
            
#             n_logings = int(np.random.uniform (0, n_days_ago - last_day_work_days))  # Between never logging and every day
            
#             day=[]
#             for l in range (0, n_logings):

#                 for j in login:
#                      #np.random.uniform(0, n_days_ago) # get a ramdom day
#                     day.append(j)
#                     ## Let´s introduce some users who do not log in thet last 30 days
#                     not_loggin = today- timedelta(n_days_ago) 
#                     if (not_loggin < today):
#                         login_day = today - timedelta (days = 30)
#                     else:
#                         login_day = today - timedelta (days = day+ last_day_work_days)
#                     app_list.append([i, login_day])
                
#             employee_list.append([i,field_last_work_day])
        
#     df_employes = pd.DataFrame(employee_list, columns = ['session_user', 'last_day_of_work'])
#     df_apps = pd.DataFrame(app_list, columns = ['session_user', 'snapshot_datetime'])
    
#     return df_employes, df_apps

In [109]:
def generate_app_logs (n_users, n_days_ago, random_state):

    np.random.seed(random_state)
    #fake = Faker()
    #Faker.seed(faker_state)
    today = pd.Timestamp(datetime.now().date())

    employee_list = []
    app_list = []

    for user in range(1, n_users):
        for i in user_email:
        
            has_leaved_company = np.random.uniform (0,100)
            if (has_leaved_company < 5): #Generate 5% people leaving the company 
                last_day_work_days = np.random.uniform (0, n_days_ago)
                field_last_work_day = today - timedelta (days = day)
            else:
                last_day_work_days = 0
                field_last_work_day = today + timedelta (days = 365) # set to the future for now
            
            n_logings = int(np.random.uniform (0, n_days_ago - last_day_work_days))  # Between never logging and every day
            
            for l in range (0, n_logings):
                day = np.random.uniform(0, n_days_ago) # get a ramdom day
                
                ## Let´s introduce some users who do not log in thet last 30 days
                not_loggin = np.random.uniform (0,100)
                if (not_loggin < 25):
                    login_day = today - timedelta (days = day + last_day_work_days + 50)
                else:
                    login_day = today - timedelta (days = day + last_day_work_days)
                app_list.append([i, login_day])
                
            employee_list.append([i,field_last_work_day])
        
    df_employes = pd.DataFrame(employee_list, columns = ['session_user', 'last_day_of_work'])
    df_apps = pd.DataFrame(app_list, columns = ['session_user', 'snapshot_datetime'])
    
    return df_employes, df_apps

In [110]:
df_employes

                       session_user          snapshot_datetime
0      abishek.kunduru@anblicks.com 2022-09-19 06:01:58.375248
1      abishek.kunduru@anblicks.com 2023-07-26 16:55:38.941539
2      abishek.kunduru@anblicks.com 2023-02-22 14:47:59.665887
3      abishek.kunduru@anblicks.com 2023-05-04 13:49:38.065316
4      abishek.kunduru@anblicks.com 2023-03-28 01:52:51.986231
...                             ...                        ...
65696      kiran.kumar@anblicks.com 2022-11-03 17:45:49.126692
65697      kiran.kumar@anblicks.com 2023-07-10 02:32:45.069220
65698      kiran.kumar@anblicks.com 2023-05-25 15:27:23.423118
65699      kiran.kumar@anblicks.com 2022-11-26 21:31:59.447671
65700      kiran.kumar@anblicks.com 2022-11-24 21:33:49.076126

[65701 rows x 2 columns]

In [111]:
#df_apps

Create files in local file system in CSV format just for referece, as we will be writing those into Snowflake tables later

In [112]:

df_app_1, df_employes = generate_app_logs (n_users=5, n_days_ago =365, random_state= 6)

In [113]:
df_app_1.to_csv('../../data1/sample_okta_logs.csv', index=False )

In [114]:
df_employes.to_csv('../../data1/sample_emp_metadata.csv', index=False)

In [115]:
df_app_2, k = generate_app_logs (n_users=5, n_days_ago =365, random_state= 19)

In [116]:
df_app_2.to_csv('../../data1/sample_app_logs.csv', index=False )

In [117]:
def generate_working_days (n_days_ago = 365):
    
    today = pd.Timestamp(datetime.now().date())
    
    calendar_list = []
    
    for d in range(0, n_days_ago):    
        calendar_day = today - timedelta (days = d)
                
        num = np.random.uniform (0,100)
        if (num < 20): # 20% of holidays
            is_working_day = 0
        else:
            is_working_day = 1
        
        calendar_list.append([calendar_day, is_working_day])
        
    
    df_cal = pd.DataFrame(calendar_list, columns = ['snapshot_datetime', 'work_day'])
    
    return df_cal

In [118]:
df_cal = generate_working_days(n_days_ago = 365)

In [119]:
df_cal

    snapshot_datetime  work_day
0          2023-09-04         1
1          2023-09-03         1
2          2023-09-02         1
3          2023-09-01         1
4          2023-08-31         0
..                ...       ...
360        2022-09-09         1
361        2022-09-08         1
362        2022-09-07         0
363        2022-09-06         1
364        2022-09-05         1

[365 rows x 2 columns]

In [120]:
df_cal.to_csv('../../data1/sample_work_days.csv', index=False)

Generate tables

In [121]:
from snowflake.snowpark.session import Session
import snowflake.snowpark.functions as F
import snowflake.snowpark.types as T

In [122]:
with open('../../config/creds.json', 'r') as ff:
    conn_param=json.load(ff)

session = Session.builder.configs(conn_param).create()

In [123]:
session.sql("create or replace database dev_snowpatrol").collect()
session.sql("create or replace schema DEVOPS_SCHEMA").collect()

session.use_database("dev_snowpatrol")
session.use_schema("dev_snowpatrol.DEVOPS_SCHEMA")

In [124]:
df = pd.read_csv('../../data1/sample_okta_logs.csv')
df.columns = df.columns.str.upper()

table_name = 'SAMPLE_OKTA_LOGS'

session.write_pandas(df, table_name, auto_create_table=True)

In [125]:
df

                         SESSION_USER            LAST_DAY_OF_WORK
0        abishek.kunduru@anblicks.com  2024-09-03 00:00:00.000000
1          bharath.rudra@anblicks.com  2024-09-03 00:00:00.000000
2         mounika.koduru@anblicks.com  2024-09-03 00:00:00.000000
3       sireesha.alavala@anblicks.com  2024-09-03 00:00:00.000000
4       manasa.jonnadula@anblicks.com  2024-09-03 00:00:00.000000
..                                ...                         ...
355  sandeep.nidumukkala@anblicks.com  2024-09-03 00:00:00.000000
356          divya.matsa@anblicks.com  2024-09-03 00:00:00.000000
357   praveenkumar.macha@anblicks.com  2024-09-03 00:00:00.000000
358     uhapriya.akunuri@anblicks.com  2024-09-03 00:00:00.000000
359          kiran.kumar@anblicks.com  2024-09-03 00:00:00.000000

[360 rows x 2 columns]

In [126]:
df = pd.read_csv('../../data1/sample_work_days.csv')
df.columns = df.columns.str.upper()

table_name = 'SAMPLE_WORK_DAYS'

session.write_pandas(df, table_name, auto_create_table=True)

In [127]:
df = pd.read_csv('../../data1/sample_app_logs.csv')
df.columns = df.columns.str.upper()

table_name = 'SAMPLE_APP_LOGS'

session.write_pandas(df, table_name, auto_create_table=True)

In [128]:
df = pd.read_csv('../../data1/generated/sample_emp_metadata.csv')
df.columns = df.columns.str.upper()

table_name = 'SAMPLE_EMP_METADATA'

session.write_pandas(df, table_name, auto_create_table=True)